kleis.rex.wf {
	@streaming path /openai/v1/* /anthropic/v1/* /copilot/v1/*

	handle @streaming {
		reverse_proxy 127.0.0.1:3003 {
			flush_interval 100ms
		}
	}

	handle {
		encode zstd gzip
		reverse_proxy 127.0.0.1:3003
	}
}
